.game-wrapper {
    border: blue 1px solid;
    width: 100%;
}
.game {
  width: 1030px;
  margin: 0 auto;
}
.table {
  background-color: #00a000;
    border: solid 3px #fff;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    color: #fff;
    padding: 5px;
    -webkit-box-shadow: #000 0 0 5px;
    -moz-box-shadow: #000 0 0 5px;
    box-shadow: #000 0 0 5px;
    margin-bottom: 15px;
    height: 600px;
}
.opponents {
    border: blue 1px solid;
    display: flex;
    justify-content: center;
}

.card {
    width: 100px;
    height: 100px;
    border: 2px solid rgb(96, 139, 168);
    border-radius: 5px;
    display: inline-flex;

}
